body {
    margin: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
#top-header > div {
    display: flex;
    border: 1px solid gray;    
}
#google-logo {
    height: 30px;
    width: 92px;
}
#search-bar {
    width: 533px;
    height: 39px;
}

