body {
    font-family: arial, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
}
.top-header {
    display: flex;
    align-items: center;
    padding-inline-start: 1%;
    padding-inline-end: 4%;
}
#google-logo {
    display: flex;
    width: 92px;
    height: 30px;